#download{
    padding-top: 10%;
    margin-top: 0px;
}
#form button {
    background-color: black;
    border-color: black;
    color: white;
  }
#form a {
    background-color: black;
    border-color: black;
    color: white;
  }
  #arquivo form input {
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
    width: 130px;
    height: 40px;
  }
  